<!DOCTYPE html>
<html>
<head>
  <title>Central de exames</title>
</head>
<body>
  <div id="page1" class="page">
    <h1>Central de exames</h1>
    <p><a href="/upload">Fazer upload de novo arquivo CSV</a></p>
    <p><a href="/tests">Resultados de exames</a></p>
  </div>
  <script src="main.js"></script>
</body>
</html>
