<div id="page1" class="page">
  <h1>Central de exames</h1>
  <p><a href="/upload" class="btn btn-primary btn-sm mt-2">Fazer upload de novo arquivo CSV</a></p>
  <p><a href="/tests" class="btn btn-primary btn-sm mt-2">Resultados de exames</a></p>
  <p><a href="/patients" class="btn btn-primary btn-sm mt-2">Pesquisar paciente pelo CPF</a></p>
</div>
<script src="main.js"></script>


