<h1> Resultados de exame </h1>
<div>
<form id="examForm">
  <label for="token">Digite o Token: </label><br>
  <input class="form-control mt-2" type="text" id="token" name="token" style="width: 18rem;"><br>
  <input type="submit" class="btn btn-outline-primary mb-2">
</form>

<div id="examDetails"></div>
<script src="main.js"></script>

<p><a href="/" class="btn btn-primary btn-sm mt-2">Página inicial</a></p>
