<h1> Resultados de exame </h1>
<div>
<form id="examForm">
  <label for="token">Digite o Token: </label><br>
  <input class="form-control mt-2" type="text" id="token" name="token" style="width: 18rem;"><br>
  <input type="submit" class="btn btn-outline-primary mb-2">
</form>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="container-fluid">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Dados do Paciente
          </div>
          <ul class="list-group list-group-flush" id="pacienteDetails">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="card" style="width: 18rem;">
            <div class="card-header">
              Dados do médico
            </div>
            <ul class="list-group list-group-flush" id="doctorDetails">
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="card" style="width: 18rem;">
            <div class="card-header">
              Exames
            </div>
            <ul class="list-group list-group-flush" id="exameDetails">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="main.js"></script>

<p><a href="/" class="btn btn-primary btn-sm mt-2">Página inicial</a></p>
