<h1> Selecione um arquivo CSV</h1>
<form id="uploadForm" enctype="multipart/form-data">
  <input type="file" name="csv_file" class="input-group"/>
  <input type="submit" value="Upload" class="btn btn-outline-primary mt-1">
</form>
<p id="uploadMessage"></p>
<p><a href="/tests" class="btn btn-primary btn-sm mt-2">Resultados de exames</a></p>
<p><a href="/" class="btn btn-primary btn-sm mt-2">Página inicial</a></p>

<script src="upload.js"></script>

